html
  head 
    title IoT Poop Button
  body
    h1 IoT Poop Button
    p Welcome to your very own IoT Poop Button! This was a Twilio Deployment of 
      a(href='https://www.twilio.com/blog/2018/03/iot-poop-button-python-twilio-aws.html') this blog post
    form(method='POST' action='/alert')
      button.btn.btn-primary(type='submit') Alert the parents!
    p Have an AWS IoT Button? 
      button.btn.btn-info(type='button' onclick="alert('feature not available')") Link IoT Button
